body{
	background-color: rgb(247, 250, 253);
}
.celda{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    height: 100px;
    text-align: center;
}
.contenedor-creditos{
	border-color: black;
    border-width: 1px;
    border-style: solid;
}
.btn-solicitar{
	border-color: black;
    border-width: 1px;
    border-style: solid;
}
#numeroDni{
	font-size: 35px;
	width: 180px;
}
#creditoSolicitado{
	font-size: 35px;
	width: 250px;
}
